.post-body embed,
.post-body iframe,
.post-body img,
.post-body video {
  margin-bottom: 20px;
}

img {
  border-radius: 5px;
}

body {
    --msr-icon-size: 70px;
  }

.title-area__subtitle,
.card__jp {
  font-family: "Inter";
}

.info-area a {
    color: #5da1cb;
    transition: .2s ease-in-out;
    border-bottom: none;
}

.info-item > .label,
.value {
  text-align: center;
}

.label {
  text-align: center;
}

.msr-cw {
    background: #d13939;
}

.minitalk-option_header {
  color: #ee66a6;
}

.msr-line p {
  color: #00677e;
}

.msr-unit.expch {
      margin-bottom: 10px;
    }

.msr-season.spring p {
  color: #bc2d5a;
}

.msr-season.spring::before {
  color: #bc2d5a;
  justify-self: center;
}

.msr-season.summer p {
  color: #60c3e1;
}

.msr-season.summer::before {
  color: #60c3e1;
  justify-self: center;
}

.msr-season.autumn p {
  color: #d07825;
}

.msr-season.autumn::before {
  color: #d07825;
  justify-self: center;
}

.msr-season.winter p {
  color: #57688b;
}

.msr-season.winter::before {
  color: #57688b;
  justify-self: center;
}

.msr-name.eichi {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #c18959;
}

.msr-line.eichi p {
  color: #c18959;
}

.msr-name.wataru {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #72a5af;
}

.msr-line.wataru p {
  color: #72a5af;
}

.msr-name.tori {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #df6f6f;
}

.msr-line.tori p {
  color: #df6f6f;
}

.msr-name.yuzuru {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #3e62ad;
}

.msr-line.yuzuru p {
  color: #3e62ad;
}

.msr-name.hokuto {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #206397;
}

.msr-line.hokuto p {
  color: #206397;
}

.msr-name.subaru {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #dc7140;
}

.msr-line.subaru p {
  color: #dc7140;
}

.msr-name.makoto {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #58a71d;
}

.msr-line.makoto p {
  color: #58a71d;
}

.msr-name.mao {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #a90051;
}

.msr-line.mao p {
  color: #a90051;
}

.msr-name.chiaki {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #d5002f;
}

.msr-line.chiaki p {
  color: #d5002f;
}

.msr-name.kanata {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #249193;
}

.msr-line.kanata p {
  color: #249193;
}

.msr-name.tetora {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #625d64;
}

.msr-line.tetora p {
  color: #625d64;
}

.msr-name.midori {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #148769;
}

.msr-line.midori p {
  color: #148769;
}

.msr-name.shinobu {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #b38400;
}

.msr-line.shinobu p {
  color: #b38400;
}

.msr-name.hiiro {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #b9192a;
}

.msr-line.hiiro p {
  color: #b9192a;
}

.msr-name.aira {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #bb846a;
}

.msr-line.aira p {
  color: #bb846a;
}

.msr-name.mayoi {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #782d9b;
}

.msr-line.mayoi p {
  color: #782d9b;
}

.msr-name.tatsumi {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #409775;
}

.msr-line.tatsumi p {
  color: #409775;
}

.msr-name.nagisa {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #a73836;
}

.msr-line.nagisa p {
  color: #a73836;
}

.msr-name.hiyori {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #8a9b15;
}

.msr-line.hiyori p {
  color: #8a9b15;
}

.msr-name.ibara {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #9e3f63;
}

.msr-line.ibara p {
  color: #9e3f63;
}

.msr-name.jun {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #444b7a;
}

.msr-line.jun p {
  color: #444b7a;
}

.msr-name.shu {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #c37174;
}

.msr-line.shu p {
  color: #c37174;
}

.msr-name.mika {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #006a6c;
}

.msr-line.mika p {
  color: #006a6c;
}

.msr-name.hinata {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #d54981;
}

.msr-line.hinata p {
  color: #d54981;
}

.msr-name.yuta {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #0786bf;
}

.msr-line.yuta p {
  color: #0786bf;
}

.msr-name.rinne {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #b7282e;
}

.msr-line.rinne p {
  color: #b7282e;
}

.msr-name.himeru {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #357c99;
}

.msr-line.himeru p {
  color: #357c99;
}

.msr-name.kohaku {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #cb4e68;
}

.msr-line.kohaku p {
  color: #cb4e68;
}

.msr-name.niki {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #507ea4;
}

.msr-line.niki p {
  color: #507ea4;
}

.msr-name.rei {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #795a9f;
}

.msr-line.rei p {
  color: #795a9f;
}

.msr-name.kaoru {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #c38444;
}

.msr-line.kaoru p {
  color: #c38444;
}

.msr-name.koga {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #997070;
}

.msr-line.koga p {
  color: #997070;
}

.msr-name.adonis {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #8e5ea1;
}

.msr-line.adonis p {
  color: #8e5ea1;
}

.msr-name.tomoya {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #b5825d;
}

.msr-line.tomoya p {
  color: #b5825d;
}

.msr-name.nazuna {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #c77d32;
}

.msr-line.nazuna p {
  color: #c77d32;
}

.msr-name.mitsuru {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #d16a3c;
}

.msr-line.mitsuru p {
  color: #d16a3c;
}

.msr-name.hajime {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #805a9f;
}

.msr-line.hajime p {
  color: #805a9f;
}

.msr-name.keito {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #2f814d;
}

.msr-line.keito p {
  color: #2f814d;
}

.msr-name.kuro {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #cd2617;
}

.msr-line.kuro p {
  color: #cd2617;
}

.msr-name.souma {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #6767af;
}

.msr-line.souma p {
  color: #6767af;
}

.msr-name.tsukasa {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #b95156;
}

.msr-line.tsukasa p {
  color: #b95156;
}

.msr-name.leo {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #dd6145;
}

.msr-line.leo p {
  color: #dd6145;
}

.msr-name.izumi {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #527c9d;
}

.msr-line.izumi p {
  color: #527c9d;
}

.msr-name.ritsu {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #4e5f72;
}

.msr-line.ritsu p {
  color: #4e5f72;
}

.msr-name.arashi {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #a98457;
}

.msr-line.arashi p {
  color: #a98457;
}

.msr-name.natsume {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #d70035;
}

.msr-line.natsume p {
  color: #d70035;
}

.msr-name.tsumugi {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #00608d;
}

.msr-line.tsumugi p {
  color: #00608d;
}

.msr-name.sora {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #bd9936;
}

.msr-line.sora p {
  color: #bd9936;
}

.msr-name.madara {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #b34317;
}

.msr-line.madara p {
  color: #b34317;
}

.msr-name.jin {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #526c8b;
}

.msr-line.jin p {
  color: #526c8b;
}

.msr-name.akiomi {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #914188;
}

.msr-line.akiomi p {
  color: #914188;
}

.msr-name.seiya {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #074985;
}

.msr-line.seiya p {
  color: #074985;
}

.msr-name.gatekeeper {
  font-size: 0.85em;
  line-height: 0.9;
  font-weight: 700;
  text-transform: var(--msr-name-case);
  color: #7e6407;
}

.msr-line.gatekeeper p {
  color: #7e6407;
}
