/** HiMERU Expressions
***/
[character=HiMERU][irritated] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_irritated.png");
}

[character=HiMERU][lb] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_lb.png");
}

[character=HiMERU][neutral] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_neutral.png");
}

[character=HiMERU][surprise] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_surprise.png");
}



/** HiMERU and others
***/

/** With Kaoru
***/

[character="HiMERU・Kaoru"][attribute] {
      --color: #869745;
      --light-mode: hsl(72.3deg 48.12% 86.34%);
      --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_kaoru.png");
    }


    .msr-name.himerukaoru {
      content: 'HiMERU・Kaoru';
      font-size: .85em;
      line-height: .9;
      font-weight: 700;
      text-transform: var(--msr-name-case);
      color: #869745;
    }

    .msr-name.himerukaoru::before {
      content: var(--name, "HiMERU・Kaoru");
    }

    .msr-line.himerukaoru p {
      color: #869745;
    }

/** With Niki
***/
[character="HiMERU・Niki"][attribute] {
      --color: #5d758f;
      --light-mode: hsl(211.2deg 31.05% 85.15%);
      --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_niki.png");
    }


    .msr-name.himeruniki {
      content: 'HiMERU・Niki';
      font-size: .85em;
      line-height: .9;
      font-weight: 700;
      text-transform: var(--msr-name-case);
      color: #5d758f;
    }

    .msr-name.himeruniki::before {
      content: var(--name, "HiMERU・Niki");
    }

    .msr-line.himeruniki p {
      color: #5d758f;
    }

/** With Tetora
***/
[character="HiMERU・Tetora"][attribute] {
      --color: #5d758f;
      --light-mode: hsl(211.2deg 31.05% 85.15%);
      --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_tetora.png");
    }


    .msr-name.himerutetora {
      content: 'HiMERU・Tetora';
      font-size: .85em;
      line-height: .9;
      font-weight: 700;
      text-transform: var(--msr-name-case);
      color: #5d758f;
    }

    .msr-name.himerutetora::before {
      content: var(--name, "HiMERU・Tetora");
    }

    .msr-line.himerutetora p {
      color: #5d758f;
    }



/** Hiyori Expressions
***/
[character=Hiyori][hmph] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/hiyori_hmph.png");
}


/** Kanata Expressions
***/
[character=Kanata][worried] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/kanata_worried.png");
}

/** Kaoru and others
***/
/** With Rei
***/
[character="Kaoru・Rei"][attribute] {
      --color: #5d758f;
      --light-mode: hsl(211.2deg 31.05% 85.15%);
      --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/kaoru_rei.png");
    }


    .msr-name.kaorurei {
      content: 'Kaoru・Rei';
      font-size: .85em;
      line-height: .9;
      font-weight: 700;
      text-transform: var(--msr-name-case);
      color: #5d758f;
    }

    .msr-name.kaorurei::before {
      content: var(--name, "Kaoru・Rei");
    }

    .msr-line.kaorurei p {
      color: #5d758f;
    }

/** Rei Expressions
***/
[character=Rei][lb] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/rei_lb.png");
}

/** Rei and others
***/
/** With Kaoru
***/
[character="Rei・Kaoru"][attribute] {
      --color: #5d758f;
      --light-mode: hsl(211.2deg 31.05% 85.15%);
      --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/rei_kaoru.png");
    }


    .msr-name.reikaoru {
      content: 'Rei・Kaoru';
      font-size: .85em;
      line-height: .9;
      font-weight: 700;
      text-transform: var(--msr-name-case);
      color: #5d758f;
    }

    .msr-name.reikaoru::before {
      content: var(--name, "Rei・Kaoru");
    }

    .msr-line.reikaoru p {
      color: #5d758f;
    }



/** Rinne Expressions
***/

[character=Rinne][default] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/rinne_default.png");
}

[character=Rinne][dejected] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/rinne_dejected.png");
}

[character=Rinne][pensative] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/rinne_pensative.png");
}

[character=Rinne][triumphant] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/rinne_triumphant.png");
}

/** Tomoya and others
***/
/** With Aira
***/

[character="Tomoya・Aira"][attribute] {
      --color: #FFF5DD;
      --light-mode: hsl(42.2deg 100% 93.36%);
      --icon: url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/tomoya_aira.png");
    }


    .msr-name.tomoyaaira {
      content: 'Tomoya・Aira';
      font-size: .85em;
      line-height: .9;
      font-weight: 700;
      text-transform: var(--msr-name-case);
      color: #d7a65c;
    }

    .msr-name.tomoyaaira::before {
      content: var(--name, "Tomoya・Aira");
    }

    .msr-line.tomoyaaira p {
      color: #d7a65c;
    }





