/** Rinne Expressions
***/

[character=Rinne][default] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_irritated.png");
}

[character=Rinne][triumphant] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_irritated.png");
}

[character=Rinne][pensative] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_irritated.png");
}

[character=Rinne][dejected] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_irritated.png");
}


/** HiMERU Expressions
***/
[character=HiMERU][irritated] {
  --icon:url("https://cdn.jsdelivr.net/gh/toujokaname/css@main/img/himeru_irritated.png");
}

